<div class="container">
    <div class="row">
        <div class="col-md-6">
            <!--THIS IS THE SUBJECTS FORM-->
            <form action="" name="newSubjectForm">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Subjects</h3>
                    </div>
                    <div class="panel-body">
                        <div ng-repeat="subject in subjectsList" class="checkbox">
                            <label>
                                <input ng-disabled="subjectSelection && subjectSelection !== subject" id="{{ subject }}" type="checkbox" ng-click="toggleSubjectSelection(subject)"
                                value="">{{ subject }}</label>
                        </div>
                        <!--this is the new subject form-->
                        <label for="subjects-list">Don't see what you need?</label>
                        <div class="form-group">
                            <input required ng-pattern="/.{3}/" ng-model="newSubjectName" id="subjects-list" type="text" class="form-control" placeholder="Type name of new subject...">
                        </div>
                        <button ng-disabled="newSubjectForm.$invalid" type="submit" class="btn btn-danger" ng-click="addNewSubject()">Create New Subject</button>
                    </div>
                </div>
            </form>
            <!--THIS IS THE KEYWORDS FORMS-->
            <form action="" name="newKeywordForm" ng-show="subjectChecked">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Keywords</h3>
                    </div>
                    <div class="panel-body">
                        <div ng-repeat="keyword in keywordsList" class="checkbox" ng-show="keyword.subject === subjectSelection">
                            <label>
                                <input id="{{ keyword.name }}" type="checkbox" ng-checked="noSubject()" ng-click="toggleKeywordSelection(keyword.name)"
                                value="">{{ keyword.name }}</label>
                        </div>
                        <!--this is the new keyword form-->
                        <label for="keywords-list">Don't see what you need?</label>
                        <div class="form-group">
                            <input required ng-pattern="/.{3}/" ng-model="newKeywordName" id="keywords-list" type="text" class="form-control" placeholder="Type name of new keyword...">
                        </div>
                        <button ng-disabled="newKeywordForm.$invalid" type="submit" class="btn btn-danger" ng-click="addNewKeyword()">Create New Keyword</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <!--THIS IS THE QUIZES FORM-->
            <form action="" name="newQuizForm" ng-show="bothChecked">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Quiz</h3>
                    </div>
                    <div class="panel-body">
                        <!--THIS IS THE STEM FORM-->
                        <label for="stem">Stem</label>
                        <div class="form-group">
                            <input ng-model="newStem" id="stem" type="text" class="form-control" placeholder="Type the stem of your quiz...">
                        </div>
                        <br>
                        <!--THIS IS THE TRUTHY FORM-->
                        <form>
                            <label for="truthyId">True</label>
                            <div class="input-group">
                                <input type="text" ng-model="newTruthy" class="form-control" placeholder="Type truthy stuff...">
                                <span class="input-group-btn">
                                    <button type='button' id="truthyId" required ng-pattern="/.{3}/" ng-disabled="!stemFieldAdecuate()" class="btn btn-default"
                                    value="Add" ng-click="addNewTruthy(newTruthy)">Add</button>
                                </span>
                            </div>
                        </form>
                        <br>
                        <!--the rg-repeat for the truthies-->
                        <ul class="list-group">
                            <li ng-repeat="truthy in truthies" class="truthy list-group-item">
                                <div>{{ truthy }}
                                    <button ng-click="remove(truthy, truthies)" type="button" class="close" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </li>
                        </ul>
                        <!--THIS IS THE FALSY FORM-->
                        <form>
                            <label for="falsyId">False</label>
                            <div class="input-group">
                                <input type="text" ng-model="newFalsy" class="form-control" placeholder="Type falsy stuff...">
                                <span class="input-group-btn">
                                    <button type='button' id="falsyId" required ng-pattern="/.{3}/" ng-disabled="!stemFieldAdecuate()" class="btn btn-default"
                                    type="submit" value="Add" ng-click="addNewFalsy(newFalsy)">Add</button>
                                </span>
                            </div>
                        </form>
                        <br>
                        <!--the ng-repeat for the falsies-->
                        <ul class="list-group">
                            <li ng-repeat="falsy in falsies" class="falsy list-group-item">
                                <div>{{ falsy }}
                                    <button ng-click="remove(falsy, falsies)" type="button" class="close" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </li>
                        </ul>
                        <button ng-disabled="!quizFormAdecuate()" type="submit" class="btn btn-danger" ng-click="addNewQuiz()">Create New Quiz!</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--<p>subjectsList {{ subjectsList }}</p>
<p>subjectSelection {{ subjectSelection }}</p>
<p>keywordSelection {{ keywordSelection }}</p>
<p>subjectChecked {{ subjectChecked }}</p>
<p>bothChecked {{ bothChecked }}</p>
<p>keywordsList {{ keywordsList }}</p>
<p>truthies {{ truthies }}</p>
<p>truthies {{ truthies }}</p>
<p>falsies {{ falsies }}</p>
<p>newStem {{ newStem }}</p>-->
<!--<div class="container">
    <div ng-repeat="quiz in quizesList" class="well">
        <h3>{{ quiz.stem }}</h3>
        <ul>
            <li>truthies:
                <ul ng-repeat="truthy in quiz.truthies">
                    <li>{{ truthy }}</li>
                </ul>
            </li>
            <li>falsies:
                <ul ng-repeat="falsy in quiz.falsies">
                    <li>{{ falsy }}</li>
                </ul>
            </li>
            <li>keywords:
                <ul ng-repeat="keyword in quiz.keywords">
                    <li>{{ keyword }}</li>
                </ul>
            </li>
        </ul>
    </div>
</div>-->