* {
    font-family: 'Droid Serif', serif;
}

.list-group-item.ng-binding.ng-scope.falsy {
    color: red;
}

.list-group-item.ng-binding.ng-scope.truthy {
    color: darkblue;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

div.answers {
    background-color: #FFFFFF;
}

.btn {
    text-align: left;
    white-space: normal;
}

.next-or-submit-div {
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.next-or-submit-buttons {
    align-self: flex-end;
}

.quiz-header {
    display: flex;
    justify-content: space-between;
}